<!DOCTYPE html>
<html leng="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./styles/game.style.css">
        <title>Rock Paper Scissor</title>
    </head>
    <body>
        <div class="badanGames">
            <div class="container-header">
                <a href="/" class="backBtn">
                    <img src="assets/back.png" alt="">
                </a>
                <img src="./assets/logo.png">
                <h1>ROCK PAPER SCISSORS</h1>
            </div>
            <div class="container-body">
                <div class="player-1">
                    <h2>PLAYER 1</h2>
                        <ul>
                            <li><img src="./assets/batu.png" class="batu"></li>
                            <li><img src="./assets/kertas.png" class="kertas"></li>
                            <li><img src="./assets/gunting.png" class="gunting"></li>
                        </ul>
                </div>
                <div class="results">
                    <h2 id="vs">VS</h2>
                    <div id="gameResult">
                        <h3 id="result">PLAYER 1 WINS</h2>
                    </div>
                </div>
                <div class="computer" id="computer">
                    <h2>COMPUTER 1</h2>
                    <ul>
                        <li><img src="./assets/batu.png" class="batu" id="batu"></li>
                        <li><img src="./assets/kertas.png" class="kertas" id="kertas"></li>
                        <li><img src="./assets/gunting.png" class="gunting" id="gunting"></li>
                    </ul>
                </div>
                <div class="refresh">
                    <img src="./assets/refresh.png">
                </div>
            </div>
        </div>
    <script type="module" src="./scripts/script.js"></script>    
    </body>
</html> 