.badanGames{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    background-color: rgba(156, 131, 95, 1);

}
.badanGames h1 {
    font-size: 36px;
    color: #F9B23D;
}
.badanGames h2 {
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.badanGames img {
    width: 90px;
    height: 90px;
    padding: 20px;
    border-radius: 30px;
}
.badanGames .container-header {
    display: flex;
    padding: 20px;
    width: auto;
    height: 100px;
    align-items: center;
}
.badanGames .container-header h1{
    display: inline-block;
}
.badanGames .container-header img{
    width: 72px;
    height: 72px;
    padding: 50px;
}
.badanGames .backBtn img{
    width: 30px;
    height: 30px;
}
.badanGames .container-body {
    width: auto;
    align-items: center;
}
.badanGames ul li {
    margin: 50px;
    list-style: none;
    text-align: center;
}
.badanGames .player-1 {
    display: inline-block;
    width: 40%;
}
.badanGames .player-1 img:hover {
    border-radius: 30px;
    transition: 100ms;
    transform: scale(1.3);
}
.badanGames .results {
    display: inline-block;
    height: 180px;
    width: 18%;
    transform: translate(0, -100%);
}
.badanGames .results h2 {
    display: block;
    font-size: 144px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BD0000;
}
.badanGames #gameResult {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    visibility: hidden;
 }
 .badanGames #gameResult h3 {
    font-size: 36px;
    padding: 10px;
    width: 100%;
    height: 100%;
    flex: 1;
    height: auto;
    text-align: center;
    letter-spacing: 0.1em;
    background: rgba(0,0,0,0);
    color: #FFFFFF;
 }
 .badanGames .computer {
    display: inline-block;
    width: 40%;
}
.badanGames .refresh {
    text-align:center;
}
.badanGames .refresh img {
    width: 72px;
    height: 72px;
    transition: 100ms;
}
.badanGames .refresh img:hover {
    transform:scale(1.2) ;
    border-radius: 30px;
}